asgiref==3.8.1
cachetools==5.5.2
certifi==2025.4.26
charset-normalizer==3.4.2
Django==5.2.1
django-cors-headers==4.7.0
django-rql==4.4.1
djangorestframework==3.16.0
dropbox==12.0.2
gunicorn==23.0.0
idna==3.10
lark-parser==0.11.0
lib-rql==2.0.2
packaging==25.0
pillow==11.2.1
ply==3.11
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python-decouple==3.8
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
stone==3.3.1
urllib3==2.4.0
whitenoise==6.9.0
